<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.keepix.instagram.catchup</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/user/Desktop/keepix-instagram/scripts/catchup_run.sh</string>
    </array>

    <!-- Fire at 3 times on 2026-05-18 JST. Wrapper self-unloads after target date. -->
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key><integer>12</integer>
            <key>Minute</key><integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>16</integer>
            <key>Minute</key><integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key><integer>19</integer>
            <key>Minute</key><integer>30</integer>
        </dict>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/user/Desktop/keepix-instagram</string>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/user/Desktop/keepix-instagram/data/launchd-catchup-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/user/Desktop/keepix-instagram/data/launchd-catchup-stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/user</string>
    </dict>
</dict>
</plist>
